aioconsole                # via aiomonitor
aiokatcp
aiomonitor
appdirs                   # via katsdpsigproc
async-timeout             # via aiokatcp
certifi                   # via requests
chardet                   # via requests
cityhash                  # via katdal
dask                      # via katdal
decorator                 # via katsdpsigproc
defusedxml                # via katdal
fakeredis                 # via katsdptelstate
funcsigs                  # via numba
future                    # via katdal
futures                   # via katsdpsigproc
h5py                      # via katdal
hiredis                   # via katsdptelstate
idna                      # via requests
ipaddress                 # via katsdptelstate
katversion
llvmlite                  # via numba
Mako                      # via katsdpsigproc
MarkupSafe                # via mako
msgpack                   # via katsdptelstate
netifaces                 # via katsdptelstate
numba                     # via katsdpsigproc
numpy
pandas                    # via katsdpsigproc
py                        # via pytest
pycuda
pyephem                   # via katpoint
pygelf                    # via katsdpservices
pyjwt                     # via katdal
pytest                    # via pycuda
python-dateutil           # via pandas
pytools                   # via pycuda
pytz                      # via pandas
redis                     # via katsdptelstate
requests                  # via katdal
scipy                     # via katsdpsigproc
six                       # via spead2 (and probably others)
spead2
terminaltables            # via aiomonitor
typing_extensions         # via katsdpsigproc
toolz                     # via dask
urllib3                   # via requests
# TODO: eventually switch to using a release of katdal, once the enhanced
# SpectralWindow class has shipped.
katdal @ git+https://github.com/ska-sa/katdal
katpoint @ git+https://github.com/ska-sa/katpoint
katsdpsigproc @ git+https://github.com/ska-sa/katsdpsigproc
katsdpservices @ git+https://github.com/ska-sa/katsdpservices
katsdptelstate @ git+https://github.com/ska-sa/katsdptelstate
