backports.ssl-match-hostname    # via docker
certifi                   # via requests
chardet                   # via requests
docker-pycreds==0.4.0     # via docker
docker==4.0.2
idna                      # via requests
ipaddress                 # via docker
requests                  # via docker
six                       # via docker, docker-pycreds
urllib3                   # via requests
websocket-client==0.56.0  # via docker
