appdirs
backports-abc
backports.ssl-match-hostname
certifi
Cython
decorator
enum34
fakeredis
funcsigs
future
futures
h5py
ipaddress==1.0.16
katcp
katdal==0.8
katpoint==0.7
katversion
hiredis
linecache2
llvmlite
Mako
manhole
MarkupSafe
mock
netifaces
nose
numba
numpy
omnijson==0.1.2
pandas
pbr
pkgconfig==1.2.2
pkginfo
ply
psutil==4.1.0
py
pybind11==2.1.1
pycuda
pyephem
pytest
python-dateutil
pytools
pytz
redis
scipy
singledispatch
six
spead2
tornado
traceback2
trollius
ujson==1.35
unittest2
git+ssh://git@github.com/ska-sa/katsdpsigproc#egg=katsdpsigproc
git+ssh://git@github.com/ska-sa/katsdpdata#egg=katsdpfilewriter&subdirectory=katsdpfilewriter
git+ssh://git@github.com/ska-sa/katsdpservices#egg=katsdpservices
git+ssh://git@github.com/ska-sa/katsdptelstate#egg=katsdptelstate
git+ssh://git@github.com/ska-sa/katportalclient#egg=katportalclient
