aioconsole                # via aiomonitor
aiokatcp
aiomonitor
appdirs                   # via katsdpsigproc
decorator                 # via katsdpsigproc
fakeredis                 # via katsdptelstate
funcsigs                  # via numba
futures                   # via katsdpsigproc
hiredis                   # via katsdptelstate
ipaddress                 # via katsdptelstate
katversion
llvmlite                  # via numba
Mako                      # via katsdpsigproc
MarkupSafe                # via mako
netifaces                 # via katsdptelstate
numba                     # via katsdpsigproc
numpy
pandas                    # via katsdpsigproc
py                        # via pytest
pycuda
pygelf                    # via katsdpservices
pytest                    # via pycuda
python-dateutil           # via pandas
pytools                   # via pycuda
pytz                      # via pandas
redis                     # via katsdptelstate
scipy                     # via katsdpsigproc
six                       # via spead2 (and probably others)
spead2
terminaltables            # via aiomonitor
git+ssh://git@github.com/ska-sa/katsdpsigproc#egg=katsdpsigproc
git+ssh://git@github.com/ska-sa/katsdpservices#egg=katsdpservices
git+ssh://git@github.com/ska-sa/katsdptelstate#egg=katsdptelstate
