appdirs                   # via katsdpsigproc
backports-abc             # via tornado
certifi                   # via tornado
decorator                 # via katsdpsigproc
enum34                    # via numba
fakeredis                 # via katsdptelstate
funcsigs                  # via numba
future                    # via katcp
futures                   # via katcp, tornado, trollius
ipaddress                 # via katsdptelstate
katcp
katversion
hiredis                   # via katsdptelstate
llvmlite                  # via numba
Mako                      # via katsdpsigproc
manhole
MarkupSafe                # via mako
netifaces                 # via katsdptelstate
numba                     # via katsdpsigproc
numpy
pandas                    # via katsdpsigproc
ply                       # via katcp
py                        # via pytest
pycuda
pygelf                    # via katsdpservices
pytest                    # via pycuda
python-dateutil           # via pandas
pytools                   # via pycuda
pytz                      # via pandas
redis                     # via katsdptelstate
scipy                     # via katsdpsigproc
singledispatch            # via numba, tornado
six                       # via spead2, trollius, etc.
spead2
tornado
trollius
git+ssh://git@github.com/ska-sa/katsdpsigproc#egg=katsdpsigproc
git+ssh://git@github.com/ska-sa/katsdpservices#egg=katsdpservices
git+ssh://git@github.com/ska-sa/katsdptelstate#egg=katsdptelstate
