backports-abc             # via tornado
certifi                   # via tornado
fakeredis                 # via katsdptelstate
future                    # via katcp
futures
h5py
ipaddress                 # via katsdptelstate
katcp
katversion
hiredis                   # via katsdptelstate
netifaces                 # via katsdptelstate
numpy
pkgconfig==1.2.2
ply                       # via katcp
pybind11==2.2.3
pygelf                    # via katsdpservices
redis                     # via katsdptelstate
singledispatch            # via tornado
six                       # via h5py, singledispatch, spead2, trollius
tornado
trollius
git+ssh://git@github.com/ska-sa/katsdpservices#egg=katsdpservices
git+ssh://git@github.com/ska-sa/katsdptelstate#egg=katsdptelstate
