aiokatcp
async-timeout             # via aiokatcp
decorator                 # via aiokatcp
fakeredis                 # via katsdptelstate
h5py
ipaddress                 # via katsdptelstate
katversion
hiredis                   # via katsdptelstate
msgpack                   # via katsdptelstate
netifaces                 # via katsdptelstate
numpy
pkgconfig==1.2.2
pygelf                    # via katsdpservices
redis                     # via katsdptelstate
six                       # via h5py, spead2
spead2
git+ssh://git@github.com/ska-sa/katsdpservices#egg=katsdpservices
git+ssh://git@github.com/ska-sa/katsdptelstate#egg=katsdptelstate
